In [2]:
# Operational Packages
import pandas as pd
import numpy as np

# Visualization Packages
from ydata_profiling import ProfileReport

In [3]:
# Read the dataset
df1 = pd.read_csv("ecommerce_customer_behavior_dataset_v2.csv")
df2 = pd.read_csv("ecommerce_customer_behavior_dataset.csv")

In [4]:
df1.head(10)

,Order_ID,Customer_ID,Date,Age,Gender,City,Product_Category,Unit_Price,Quantity,Discount_Amount,Total_Amount,Payment_Method,Device_Type,Session_Duration_Minutes,Pages_Viewed,Is_Returning_Customer,Delivery_Time_Days,Customer_Rating
0,ORD_000001-1,CUST_00001,2023-05-29,40,Male,Ankara,Books,29.18,1,0.00,29.18,Digital Wallet,Mobile,14,9,True,13,4
1,ORD_000001-2,CUST_00001,2023-10-12,40,Male,Ankara,Home & Garden,644.40,1,138.05,506.35,Credit Card,Desktop,14,8,True,6,2
2,ORD_000001-3,CUST_00001,2023-12-05,40,Male,Ankara,Sports,332.82,5,0.00,1664.10,Credit Card,Mobile,15,10,True,9,4
3,ORD_000002-1,CUST_00002,2023-05-11,33,Male,Istanbul,Food,69.30,5,71.05,275.45,Digital Wallet,Desktop,16,13,True,4,4
4,ORD_000002-2,CUST_00002,2023-06-16,33,Male,Istanbul,Beauty,178.15,3,0.00,534.45,Credit Card,Mobile,14,7,True,6,4
5,ORD_000003-1,CUST_00003,2023-02-27,42,Male,Konya,Toys,198.28,2,0.00,396.56,Credit Card,Tablet,10,9,False,6,2
6,ORD_000003-2,CUST_00003,2024-01-03,42,Male,Konya,Home & Garden,526.85,5,0.00,2634.25,Digital Wallet,Desktop,11,8,True,6,5
7,ORD_000004-1,CUST_00004,2024-02-13,53,Male,Izmir,Fashion,96.20,5,97.78,383.22,Credit Card,Desktop,16,15,False,4,5
8,ORD_000005-1,CUST_00005,2023-03-16,32,Male,Ankara,Home & Garden,533.67,3,0.00,1601.01,Bank Transfer,Mobile,12,8,False,5,5
9,ORD_000005-2,CUST_00005,2023-06-12,32,Male,Ankara,Toys,73.06,4,0.00,292.24,Credit Card,Mobile,13,12,True,7,2

In [5]:
df2.head(10)

,Order_ID,Customer_ID,Date,Age,Gender,City,Product_Category,Unit_Price,Quantity,Discount_Amount,Total_Amount,Payment_Method,Device_Type,Session_Duration_Minutes,Pages_Viewed,Is_Returning_Customer,Delivery_Time_Days,Customer_Rating
0,ORD_001337,CUST_01337,2023-01-01,27,Female,Bursa,Toys,54.28,1,0.00,54.28,Debit Card,Mobile,4,14,True,8,5
1,ORD_004885,CUST_04885,2023-01-01,42,Male,Konya,Toys,244.90,1,0.00,244.90,Credit Card,Mobile,11,3,True,3,3
2,ORD_004507,CUST_04507,2023-01-01,43,Female,Ankara,Food,48.15,5,0.00,240.75,Credit Card,Mobile,7,8,True,5,2
3,ORD_000645,CUST_00645,2023-01-01,32,Male,Istanbul,Electronics,804.06,1,229.28,574.78,Credit Card,Mobile,8,10,False,1,4
4,ORD_000690,CUST_00690,2023-01-01,40,Female,Istanbul,Sports,755.61,5,0.00,3778.05,Cash on Delivery,Desktop,21,10,True,7,4
5,ORD_000223,CUST_00223,2023-01-01,43,Female,Istanbul,Beauty,122.46,1,0.00,122.46,Credit Card,Mobile,14,9,True,9,5
6,ORD_002506,CUST_02506,2023-01-01,25,Female,Izmir,Electronics,2107.37,2,0.00,4214.74,Digital Wallet,Desktop,10,5,False,6,5
7,ORD_004540,CUST_04540,2023-01-01,44,Male,Konya,Food,213.64,2,0.00,427.28,Credit Card,Mobile,10,16,False,3,5
8,ORD_001808,CUST_01808,2023-01-02,41,Male,Istanbul,Fashion,257.62,5,62.15,1225.95,Credit Card,Tablet,24,7,False,2,4
9,ORD_003413,CUST_03413,2023-01-02,58,Male,Istanbul,Sports,1784.75,4,490.25,6648.75,Debit Card,Desktop,8,5,True,5,4

In [6]:
print(df1.shape)
print(df2.shape)

(17049, 18)
(5000, 18)

In [7]:
# Data info
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17049 entries, 0 to 17048
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Order_ID                  17049 non-null  object
 1   Customer_ID               17049 non-null  object
 2   Date                      17049 non-null  object
 3   Age                       17049 non-null  int64
 4   Gender                    17049 non-null  object
 5   City                      17049 non-null  object
 6   Product_Category          17049 non-null  object
 7   Unit_Price                17049 non-null  float64
 8   Quantity                  17049 non-null  int64
 9   Discount_Amount           17049 non-null  float64
 10  Total_Amount              17049 non-null  float64
 11  Payment_Method            17049 non-null  object
 12  Device_Type               17049 non-null  object
 13  Session_Duration_Minutes  17049 non-null  int64
 14  Pages_Viewed              17049 non-null  int64
 15  Is_Returning_Customer     17049 non-null  bool
 16  Delivery_Time_Days        17049 non-null  int64
 17  Customer_Rating           17049 non-null  int64
dtypes: bool(1), float64(3), int64(6), object(8)
memory usage: 2.2+ MB

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Order_ID                  5000 non-null   object
 1   Customer_ID               5000 non-null   object
 2   Date                      5000 non-null   object
 3   Age                       5000 non-null   int64
 4   Gender                    5000 non-null   object
 5   City                      5000 non-null   object
 6   Product_Category          5000 non-null   object
 7   Unit_Price                5000 non-null   float64
 8   Quantity                  5000 non-null   int64
 9   Discount_Amount           5000 non-null   float64
 10  Total_Amount              5000 non-null   float64
 11  Payment_Method            5000 non-null   object
 12  Device_Type               5000 non-null   object
 13  Session_Duration_Minutes  5000 non-null   int64
 14  Pages_Viewed              5000 non-null   int64
 15  Is_Returning_Customer     5000 non-null   bool
 16  Delivery_Time_Days        5000 non-null   int64
 17  Customer_Rating           5000 non-null   int64
dtypes: bool(1), float64(3), int64(6), object(8)
memory usage: 669.1+ KB

In [9]:
sales_data = pd.concat([df1, df2], ignore_index=True)

# Checking IF Data is Scattered
print("Is Order ID unique =", sales_data['Order_ID'].is_unique)

print( "Unique Order ID =", sales_data['Order_ID'].nunique())

Is Order ID unique = True
Unique Order ID = 22049

In [10]:
# Converting Date to datetime format
sales_data['Date'] = pd.to_datetime(sales_data['Date'])

sales_data = sales_data.sort_values(by='Date', ascending=False)

sales_data.head(10)

,Order_ID,Customer_ID,Date,Age,Gender,City,Product_Category,Unit_Price,Quantity,Discount_Amount,Total_Amount,Payment_Method,Device_Type,Session_Duration_Minutes,Pages_Viewed,Is_Returning_Customer,Delivery_Time_Days,Customer_Rating
22048,ORD_000902,CUST_00902,2024-03-26,30,Female,Konya,Books,84.30,4,21.72,315.48,Debit Card,Desktop,8,9,True,5,5
22043,ORD_003209,CUST_03209,2024-03-26,45,Male,Izmir,Food,50.69,1,11.72,38.97,Credit Card,Desktop,5,6,False,2,1
22038,ORD_001404,CUST_01404,2024-03-26,43,Male,Adana,Beauty,120.67,2,7.88,233.46,Credit Card,Desktop,10,8,True,4,5
22039,ORD_000463,CUST_00463,2024-03-26,26,Male,Istanbul,Food,19.84,3,0.00,59.52,Credit Card,Mobile,11,10,False,6,4
22040,ORD_002934,CUST_02934,2024-03-26,46,Male,Ankara,Toys,60.12,2,12.95,107.29,Digital Wallet,Tablet,22,7,True,6,4
22042,ORD_001360,CUST_01360,2024-03-26,37,Female,Bursa,Toys,99.46,1,0.00,99.46,Bank Transfer,Desktop,5,9,False,4,1
22041,ORD_000841,CUST_00841,2024-03-26,34,Other,Istanbul,Books,69.79,4,0.00,279.16,Bank Transfer,Desktop,10,10,False,11,5
22044,ORD_001048,CUST_01048,2024-03-26,18,Female,Izmir,Beauty,130.35,1,27.30,103.05,Bank Transfer,Mobile,17,10,False,9,1
22045,ORD_001051,CUST_01051,2024-03-26,27,Male,Adana,Beauty,71.55,1,0.00,71.55,Debit Card,Mobile,13,9,True,6,4
22046,ORD_003543,CUST_03543,2024-03-26,45,Female,Antalya,Food,39.38,1,5.27,34.11,Digital Wallet,Mobile,38,10,True,5,4

In [11]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22049 entries, 22048 to 4843
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Order_ID                  22049 non-null  object
 1   Customer_ID               22049 non-null  object
 2   Date                      22049 non-null  datetime64[ns]
 3   Age                       22049 non-null  int64
 4   Gender                    22049 non-null  object
 5   City                      22049 non-null  object
 6   Product_Category          22049 non-null  object
 7   Unit_Price                22049 non-null  float64
 8   Quantity                  22049 non-null  int64
 9   Discount_Amount           22049 non-null  float64
 10  Total_Amount              22049 non-null  float64
 11  Payment_Method            22049 non-null  object
 12  Device_Type               22049 non-null  object
 13  Session_Duration_Minutes  22049 non-null  int64
 14  Pages_Viewed              22049 non-null  int64
 15  Is_Returning_Customer     22049 non-null  bool
 16  Delivery_Time_Days        22049 non-null  int64
 17  Customer_Rating           22049 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(3), int64(6), object(7)
memory usage: 3.0+ MB

In [12]:
sales_data.describe(include='all')

,Order_ID,Customer_ID,Date,Age,Gender,City,Product_Category,Unit_Price,Quantity,Discount_Amount,Total_Amount,Payment_Method,Device_Type,Session_Duration_Minutes,Pages_Viewed,Is_Returning_Customer,Delivery_Time_Days,Customer_Rating
count,22049,22049,22049,22049.000000,22049,22049,22049,22049.000000,22049.000000,22049.000000,22049.000000,22049,22049,22049.000000,22049.000000,22049,22049.000000,22049.000000
unique,22049,5000,NaN,NaN,3,10,8,NaN,NaN,NaN,NaN,5,3,NaN,NaN,2,NaN,NaN
top,ORD_000902,CUST_02572,NaN,NaN,Female,Istanbul,Sports,NaN,NaN,NaN,NaN,Credit Card,Mobile,NaN,NaN,True,NaN,NaN
freq,1,11,NaN,NaN,11105,5686,2915,NaN,NaN,NaN,NaN,8813,12338,NaN,NaN,18029,NaN,NaN
mean,NaN,NaN,2023-08-15 08:44:45.509547008,34.965441,NaN,NaN,NaN,449.700508,2.831920,59.598256,1210.694234,NaN,NaN,14.544197,8.998821,NaN,6.502109,3.900177
min,NaN,NaN,2023-01-01 00:00:00,18.000000,NaN,NaN,NaN,5.050000,1.000000,0.000000,6.210000,NaN,NaN,1.000000,1.000000,NaN,1.000000,1.000000
25%,NaN,NaN,2023-04-27 00:00:00,27.000000,NaN,NaN,NaN,74.050000,1.000000,0.000000,159.800000,NaN,NaN,12.000000,7.000000,NaN,4.000000,3.000000
50%,NaN,NaN,2023-08-16 00:00:00,35.000000,NaN,NaN,NaN,177.110000,3.000000,0.000000,429.920000,NaN,NaN,14.000000,9.000000,NaN,6.000000,4.000000
75%,NaN,NaN,2023-12-06 00:00:00,42.000000,NaN,NaN,NaN,499.360000,4.000000,25.080000,1199.060000,NaN,NaN,17.000000,11.000000,NaN,8.000000,5.000000
max,NaN,NaN,2024-03-26 00:00:00,75.000000,NaN,NaN,NaN,7900.010000,5.000000,6538.290000,37852.050000,NaN,NaN,73.000000,24.000000,NaN,25.000000,5.000000
std,NaN,NaN,NaN,11.054313,NaN,NaN,NaN,720.091114,1.451207,216.621317,2265.755590,NaN,NaN,4.862567,2.394224,NaN,3.483322,1.128719

In [13]:
profile = ProfileReport(sales_data, title='raw_data', explorative=True)
profile.to_file("revenue_analysis_raw_data.html", silent=True)

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|| 18/18 [00:00<00:00, 109.82it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [14]:
sales_data.to_csv('Cleaned_sales_data.csv', index=False)

# END